.dark-mode{
    background-color: darken($grisOscuro, 10);
    a, p{
        color: $blanco;
    }
    h1, h2, h3, h4{
        color: $gris;

    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid black;
        .precio{
            color: $verde;
        }
    }
}
.texto-nosotros blockquote{
    color: $blanco;
}


.formulario{
   
    label, legend, p {
        color: $gris;
    }
}